@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@1,300&display=swap");
.App {
  text-align: center;
  font-family: "Playfair Display", serif;
  background-color: rgb(5, 10, 55);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#greet {
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  position: fixed;
}
/* REACT PORTAL FORMATTING */
#jm-portal {
  font-family: "Playfair Display", serif;
}

#modal-wrap {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(200, 200, 200, 0.75);
  width: 100vw;
  height: 100vh;
  font-family: "Playfair Display", serif;
}

#jm-modal {
  background-color: rgb(5, 10, 55);
  margin: 10vw;
  border-radius: 20px;
  padding: 30px;
}
/* END REACT PORTAL FORMATTING  */

.hidden {
  display: none;
}

#title {
  letter-spacing: 5px;
  color: #131a5e;
}

h1,
h2,
h3,
h4 {
  color: rgb(245, 245, 245);
}

.header-container {
  background-color: rgb(245, 245, 245);
}

html {
  background-color: rgb(5, 10, 55);
}

.jm-card {
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 240, 240);
}

#about {
  color: rgb(245, 245, 245);
}

.jm-th {
  font-family: "Playfair Display", serif;
  color: rgb(5, 10, 55);
}
